<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenido a RestFinder</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
   <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{{ url_for('static', filename='grayscale.css') }}" rel="stylesheet">
    <!--<link href="css/grayscale.css" rel="stylesheet"> -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Ir a</span> RestFinder
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca De</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#download">Agregar</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Consultar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RestFinder</h1>
                        <p class="intro-text">Una aplicación con la cual siempre podrás encontrar el restaurante que estás buscando</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Acerca de RestFinder</h2>
                <p>RestFinder nació de la solicitud de Bombur, un enano glotón que vive en Tierra Media, la solicitud la hizo ya que se le hace más sencillo consultar platillos y restaurantes desde la comodidad de su smartphone.</p>
				<p>La aplicación está dividida en 2, la parte Front-end, que es la que tiene la función de interactuar con el usuario, que 	está desarrollada en python.</p>
				<p>Y la parte back-end, que tiene como función el almacenamiento de datos ingresados en la modalidad de mantenimiento de datos. Esta parte está desarrollada en Prolog</p>

				<h1>Desarrolladores</h1>

				<p>La aplicación fue desarrollada por Estudiantes de la carrera de Administración de Tecnología de Información, impartida en el Instituto Tecnológico de Costa Rica. </p> <p>Los estudiantes fueron los siguientes:</p> 
				<h3>Esteban Leandro</h3>
				<h3>Fabian Fernandez</h3>
				<h3>Jimmy Granados</h3>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Agregar Restaurante</h2>
                    
				<form action="." method="POST">
					<br>
					<br>
        			<label>Ingresa el restaurante del platillo</label><input type="text" name="restPlatillo" required>
        			<br>
        			<br>
        			<label>Ingresa el nombre del platillo </label><input type="text" name="nombrePlatillo" required>
        			<br>
        			<br>
        			<label>Ingresa el sabor del platillo</label><input type="text" name="saborPlatillo" required>
        			<br>
        			<br>
        			<label>Ingresa el pais de origen</label><input type="text" name="paisPlatillo" required>
        			<br>
        			<br>
        			<label>Ingresa los ingredientes del platillo</label><input type="text" name="horarioRest" required>
        			<br>
        			<br>
        			<input id="boton" type="submit" name="my-form" value="Agregar" class="btn btn-default btn-lg">
    			</form>


                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p>feedback@startbootstrap.com</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li><a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div id="map"></div>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
