<!doctype html>

	<head>
		<title>RestFinder</title>
		<meta charset="utf8">


		<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="estilos.css">
	</head>

	<body>
		<div id="barraSuperior">
			<h2>RestFinder</h2>
			<div id="menu">
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/consulta">Consulta</a></li>
						<li><a href="/agregar">Agregar</a></li>
						<li><a href="/acercaDe">Acerca de</a></li>
					</ul>
				</nav>
			</div>

			<div id="separador"> </div>
			<div id="separadorClaro"> </div>


		</div>
		<br>

		<div id="contenidoPrincipal">
		

			<h1>Acerca de RestFinder</h1>

			<br>
			
			<p>RestFinder nació de la solicitud de Bombur, un enano glotón que vive en Tierra Media, la solicitud la hizo ya que se le hace más sencillo consultar platillos y restaurantes desde la comodidad de su smartphone.</p>
			<p>La aplicación está dividida en 2, la parte Front-end, que es la que tiene la función de interactuar con el usuario, que está desarrollada en python.</p>
			<p>Y la parte back-end, que tiene como función el almacenamiento de datos ingresados en la modalidad de mantenimiento de datos. Esta parte está desarrollada en Prolog</p>

			<h1>Desarrolladores</h1>

			<p>La aplicación fue desarrollada por Estudiantes de la carrera de Administración de Tecnología de Información, impartida en el Instituto Tecnológico de Costa Rica. Los estudiantes fueron los siguientes: </p>
			<p>Esteban Leandro</p>
			<p>Fabian Fernandez</p>
			<p>Jimmy Granados</p>
		</div>


	</body>


</html>