<!doctype html>

	<head>
		<title>RestFinder</title>
		<meta charset="utf8">

	<!-- #E4DBBF crema
	#DC5B21 anaranjado
	#70AB8F Verde/celeste raro
	#383127 cafe
	-->
		<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" type="text/css" href="estilos.css"> <!-- cargo los estilos. -->


	</head>

	<body>
		<div id="barraSuperior">
			<h2>RestFinder</h2>
			<div id="menu">
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/consulta">Consulta</a></li>
						<li><a href="/agregar">Agregar</a></li>
						<li><a href="/acercaDe">Acerca de</a></li>
					</ul>
				</nav>
			</div>

			<div id="separador"> </div>
			<div id="separadorClaro"> </div>


		</div>
		<br>

		<div id="contenidoPrincipal">
		

			<h1>¿Qué deseas agregar?</h1>

			<br>
			
			<h3><a href="/agregarRest">Agregar Restaurante</a></h3>

			<br>
			<br>
			<br>

			<h3><a href="/agregarPlatillo">Agregar platillo</a></h3>

	</body>


</html>